{% extends 'base.html' %}

{% block title %}
My Tags
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="col-sm-9">
      <h4><small>RECENT TAGS</small></h4>
      <hr>
      {% for item in data %}
      <div class="undef">
      <div class="thumbnail">
        <h5>Post by {{ item.photoPoster }}, {{ item.postingdate }}.</h5>
        <a href="/imginfo/{{ item.photoID }}" target="_blank">
          <img src="/image/{{ item.photoID }}" alt="This image didn't display correctly... ¯\_(ツ)_/¯" style="width:100%">
        </a>
        <span class="input-group-btn">
          <form action="/accepttag" method="POST">
          <button class="btn btn-default" name="yes" value="" type="submit">
            Accept Tag
          </button>
          <input type="hidden"  name="pid" value="{{ item.photoID }}">
          </form>
        </span>
      </div>
    </div>
      <br><br>
      {% endfor %}

    </div>
{% endblock %}
