{% extends 'base.html' %}

{% block title %}
Profile Page
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="col-sm-9">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      {% for item in data %}
      <div class="undef">
      <div class="thumbnail">
        <h5>Post by {{ item.photoPoster }}, {{ item.postingdate }}.</h5>
        <a href="/imginfo/{{ item.photoID }}" target="_blank">
          <img src="/image/{{ item.photoID }}" alt="This image didn't display correctly... ¯\_(ツ)_/¯" style="width:100%">
        </a>
        <div class="row-sm-9">
          <div class="caption">
            <p>{{ item.caption }}</p>
          </div>
          {% if delete %}
            <div>
            <a href="/addtags/{{item.photoID}}">
            <span class="input-group-btn">
            <button class="btn btn-default"   type="submit">
            Tag Your Friends
            </button>
            </span>
            </a>
            </div>
          {% endif %}
          
          {% if delete %}
            <div>
            <form action="/removephoto" method="POST">
            <span class="input-group-btn">
            <button class="btn btn-default"   type="submit">
            Delete
            </button>
            </span>
            <input type='hidden' name='pid' value= "{{item.photoID}}"  />
            </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
      <br><br>
      {% endfor %}

    </div>
{% endblock %}
